.intro-section {
  position: relative;
  gap: 10px;
  padding: 100px 20px;

  &::before {
    @include bg-img-control("../../assets/images/intro-bg-img.png");
    background-size: cover;
    opacity: 0.3;
  }

  &__header {
    @supports (-webkit-background-clip: text) {
      // background: url("/assets/images/intro-header-text-bg.png") no-repeat;
      background: url("../../assets/images/intro-header-text-bg.png") no-repeat;
      background-size: 100vw;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

    .intro-section__text {
      font-size: 1.45rem;
      color: $color-orange;
      margin-bottom: 10px;
    }

    h1 {
      @include font-cocogoose--uppercase;
    }
  }

  &__description {
    background-color: $color-light;
    border: 3px solid white;
    padding: 10px;
    text-align: justify;
    color: $color-dark;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__date {
    @include font-cocogoose--uppercase;
    color: $color-dark;
  }

  &__place {
    color: $color-dark;
  }
}

.main-event-section {
  position: relative;
  color: white;
  padding: 50px 0;

  &::before {
    @include bg-img-control("../../assets/images/main-event-bg-img.png");
    filter: brightness(60%);
  }

  &__header {
    text-align: center;
    position: relative;
    margin-bottom: 50px;


    &::after {
      @include header-underline($header-underline-width)
    }
  }

  &__topics {
    gap: 15px;

    li {
      background-color: #{$color-light}38;
      gap: 10px;
      align-items: center;
      padding: 10px;

      i {
        text-align: center;
      }

      h5 {
        color: $color-orange;
        font-weight: bold;
      }
    }
  }

  &__btn {
    all: unset;
    background: $color-orange;
    padding: 15px 40px;
    font-weight: bold;
    letter-spacing: 0.125rem;
    display: block;
    margin: 40px auto 0 auto;
  }
}
