// Colors
$color-dark: #272a31;
$color-orange: #ec5242;
$color-light: #d3d3d3;

@font-face {
  font-family: "COCOGOOSE";
  src: url("../../assets/fonts/Cocogoose_trial.eot?") format("eot"),
    url("../../assets/fonts/Cocogoose_trial.woff") format("woff"),
    url("../../assets/fonts/Cocogoose_trial.ttf") format("truetype"),
    url("../../assets/fonts/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: 100;
  font-style: normal;
}
